@page
@model EllebitApplication.Pages.Restaurants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.NumRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.NumRooms)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Restaurant?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
